[project]
	description = "A library that helps authenticate Httpclient with services that use  NTLM, KERBEROS, SSL authentications."
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dov Amir (DovAmir)
[access "refs/for/refs/*"]
	read = group user/Dov Amir (DovAmir)
	push = group user/Dov Amir (DovAmir)
	label-Code-Review = -2..+2 group user/Dov Amir (DovAmir)
	label-Verified = -1..+1 group user/Dov Amir (DovAmir)
	rebase = group user/Dov Amir (DovAmir)
	removeReviewer = group user/Dov Amir (DovAmir)
	submit = group user/Dov Amir (DovAmir)
[access "refs/heads/*"]
	read = group user/Dov Amir (DovAmir)
	create = group user/Dov Amir (DovAmir)
	push = +force group user/Dov Amir (DovAmir)
	pushMerge = group user/Dov Amir (DovAmir)
[access "refs/tags/*"]
	push = +force group user/Dov Amir (DovAmir)
	pushTag = group user/Dov Amir (DovAmir)
	pushSignedTag = group user/Dov Amir (DovAmir)
